<%- include('base_header.html',{title:'主页'}); -%>

<style>
</style>

<script> $("#menu-home").addClass("selected"); </script>

<div class="ui column" style="margin-top: 12px;">
	<h4 class="ui block top attached header">
		<!-- <i aria-hidden="true" class="handshake outline icon" ></i>  -->
		来了？请坐
	</h4>
	<div class="ui bottom attached aligned segment">
		<div class="ui text container">
			<h2> 欢迎来到鸟池! 👋</h2>
		</div>
	</div>

	<div class="ui bottom attached aligned segment">
		<div class="ui text container">
			<p> 请在左侧选择币种 </p>
		</div>
	</div>

	<h4 class="ui block top attached header">
		赞助
	</h4>
	<div class="ui bottom attached aligned segment">
		<div class="ui text container">
			<% for( var coin in coinsConfig ){ %>
				<p>
					<% var coinConfig = coinsConfig[coin]; %>
					<%=coinConfig.chineseName%> / <%=coinConfig.name%>: <%=coinConfig.donationAddress%>
				</p>
			<% } %>
		</div>
	</div>
</div>

<%- include('base_footer.html'); -%>
